Note Buddy/DB.cs
Note Buddy/bin/Debug/Note Buddy.exe
Note Buddy/bin/Debug/Note Buddy.exe.config
Note Buddy/bin/Debug/Note Buddy.pdb
Note Buddy/Encryption.cs
Note Buddy/obj/Debug/Note Buddy.exe
Note Buddy/bin/Debug/Note Buddy.exe
